:root{
    --couleur-fond: #626262;
    --couleur-principal: #3F837A;
    --couleur-secondaire: #735;
    --couleur-texte: #000;
    --police: 'Poppins', sans-serif;
    --police-logo:'Space Mono', monospace;
    }

.form {
    background-color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    margin-left: auto; 
    margin-right: auto;
    height: 500px;
    padding: 20px;
    width: 320px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 9px 9px 0px #aaa; 
  }
  
  .title {
    color: var(--couleur-principal);
    font-family: var(--police);
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: var(--couleur-principal);
    font-family: var(--police);
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: var(--couleur-secondaire);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    font-family: var(--police);
    color: #fff;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #fff;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: var(--couleur-fond);
    font-family: var(--police);
    left: 14px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: var(--couleur-fond);
  }
  
  .input:focus ~ .placeholder {
    color: var(--couleur-principal);
  }
  
  .submit {
    background-color: var(--couleur-secondaire);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: var(--police);
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: var(--couleur-principal);
  }
  