:root{
--couleur-fond: #929292;
--couleur-principal: #3F837A;
--couleur-secondaire: #773355;
--couleur-texte: #000;
--police: 'Poppins', sans-serif;
--police-logo:'Space Mono', monospace;
--couleur-blanc: #fff;
}

body{
    background-color: var(--couleur-fond);
    margin: 0%;
    /* background: rgb(105,155,200);
    background: -moz-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%, rgba(181,197,216,1) 57%);
    background: -webkit-gradient(radial, top left, 0px, top left, 100%, color-stop(0%,rgba(105,155,200,1)), color-stop(57%,rgba(181,197,216,1)));
    background: -webkit-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
    background: -o-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
    background: -ms-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
    background: radial-gradient(ellipse at top left, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#699bc8', endColorstr='#b5c5d8',GradientType=1 ); */
}

div h1{
    padding-top: 4rem;
    font-family: var(--police);
    text-transform: uppercase;
}

nav{
    height: 4rem;
    width: 100vw;
    display: flex;
    position: fixed;
    z-index: 10;
    background-color: var(--couleur-fond);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 3px 20px rgba(0,0,0,0.2);
}

.logo{
    padding: 0vh 3vw;
    text-align: left;
    width: 20vw;
}

.logo img{
    height: auto;
    width: 4rem;
}

/* Styling Navigation Links*/

.nav-links{
    width: 80vw;
    display: flex;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    list-style: none;
    font-weight: 500;
    text-decoration: none;
    font-family: var(--police);
}

.nav-links > li > a{
    margin: 0 0.7vw;
    text-decoration: none;
    transition: all ease-in-out 350ms;
    padding: 10px;
    color: var(--couleur-texte);
}

.nav-links > li > a > span{
    text-align:end;
}

.nav-links>li>a:hover{
    color:#000;
    background-color: var(--couleur-secondaire);
    padding: 10px;
    border-radius: 50px;
}

.nav-links > li{
    position:relative;
}

.nav-links > li > a:hover::before{
    width: 80%;
}

.fade-in {
  opacity: 0;
  animation: fade-in 0.5s ease-in forwards;
  text-decoration: underline;
  font-weight: 900;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

.fade-in2 {
  opacity: 0;
  animation: fade-in 0.5s ease-in forwards;
  animation-delay: 0.5s;
}

@keyframes fade-in2 {
  100% {
    opacity: 1;
  }
}

.fade-in3 {
  opacity: 0;
  animation: fade-in 0.5s ease-in forwards;
  animation-delay: 1s;
}

@keyframes fade-in3 {
  100% {
    opacity: 1;
  }
}

/*Buttons Styling*/

.login-button{
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size:1rem;
    cursor:pointer;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    border-radius: 2em;
}

.login-button:hover{
    color:#fff;
    background-color: var(--couleur-secondaire);
    border:1.5px solid var(--couleur-secondaire);
    transition: all ease-in-out 350ms;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background: rgba(255, 255, 255, 0.51);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.53);
    margin: auto;
    padding: 20px;
    width: 50%;
  }

  .modal-content > p{
    font-family: var(--police);
  }

  .modal-content > form{
    font-family: var(--police);
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.modal-content > input{
    border-radius: 10px;
}

/*Navigation Icon Styling*/

.hamburger div{
    width: 30px;
    height: 3px;
    background: #000;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger{
    display: none;
}

header{
  padding-top: 3.5rem;
  height: 250px;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-image: url("https://www.studyrama.com/sites/default/files/article/2022-06/arton107930.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  line-height: 2.8em;
}

header div .titr-bvn{
    padding-top: 8.4rem;
    margin-left: 1rem;
    color: var(--couleur-texte);
    font-size: 3rem;
}
header{
  animation: transitionIn 1s;
}
main{
  animation: transitionIn 1s;
  margin-bottom: 1rem;
}
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
main > p{
  font-family: var(--police);
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  padding: 0%;
  color: var(--couleur-principal);
}

#headline{ /* Prochaine rentrée */
  color: var(--couleur-secondaire);
  margin: 0%;
  padding: 0%;
}

main .container {
  color: var(--couleur-secondaire);
  padding: 0%;
  margin:0%;
  display: block;
  text-align: center;
}

main > .container > h1{
  font-size: 2rem;
}

main > div > div > ul > li {
  display: inline-block;
  font-size: 1rem;
  list-style-type: none;
  padding: 2px;
  text-transform: uppercase;
  font-family: var(--police);
}

main > div > div > ul > li span {
  display: block;
  font-size: 3rem;
}

main > h1{
  color: var(--couleur-secondaire);
  font-family: var(--police);
  text-align: center;
}

hr{
  background-color: var(--couleur-secondaire);
  height: 2px;
}

.carte{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.table {
  width: 100%;
  display: flex;
  flex-direction: row;
}

section{
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0px 0;
  
}
section .Card-Actor{
  position: relative;
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  margin: 10px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.66);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: var(--police);
}

section .Card-Actor .content-Actor{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.5;
  transition: 0.5s;
}

section .Card-Actor:hover .content-Actor{
  opacity: 1;
}

section .Card-Actor .content-Actor .img-Actor{
  position: relative;
  width: 250px;
  height: 250px;
  margin-top: 1rem;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, 0.25);
}

section .Card-Actor .content-Actor .img-Actor img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .Card-Actor .content-Actor .content-card-Actor h3{
  color:#000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 23px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

section .Card-Actor .content-Actor .content-card-Actor h3 span{
  font-size: 17px;
  font-weight: 300;
  text-transform: initial;
}

section .Card-Actor .content-Actor .text-content p{
  font-size: 1.0em;
  padding: 10px;
  color: #000;
  text-align: justify;
  text-align-last: center;
  margin-bottom: 0;
  margin-left: 15px;
  margin-right: 15px;
}

section .Card-Actor .content-Actor .text-content a{
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: var(--couleur-principal);
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 300;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

footer{
  padding-top: 1rem;
  margin: 0%;
  padding-bottom: 1px;
}
footer > p{
  font-size: small;
  font-family: var(--police);
  color: var(--couleur-principal);
}

.info{
  padding: 0%;
  margin: 0%;
}

.info > h1{
  color: var(--couleur-secondaire);
  font-family: var(--police);
  text-align: center;
}

.table2 {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.section2{
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0px 0;
}
.section2 > iframe{
  position: relative;
  margin: 10px;
  margin-top: 15px;
}

.section2 > p{
  margin-left: 4rem;
  color: var(--couleur-texte);
  font-family: var(--police);
  position: relative;
  margin-right: 4rem;
  font-size: 1.4rem;
}

.section2 > form{
  font-family: var(--police);
  color: var(--couleur-secondaire);
}

.section2 > form > .login-button{
  background-color: var(--couleur-secondaire);
  color: #fff;
  padding: 7px;
  margin: 0px;
}

.copy-right-sec{
  padding: 1rem;
  background: var(--couleur-texte);
  color: var(--couleur-blanc);
  text-align: left;
  width: 100%;
  font-weight: 500;
  font-family: var(--police);
  position:sticky;
  bottom: 0;
  margin-top: 2rem;
}
.copy-right-sec a{
	color: #fcd462;
  font-weight: 500;
}

a{
  text-decoration: none;
}

.histoire > h1{
  padding-top: 0;
  text-align: center;
  color: var(--couleur-secondaire);
  font-family: var(--police);
  text-decoration: underline;
}

.histoire > p{
  font-family: var(--police);
  color: #000;
  text-align: justify;
  text-align-last: center;
  font-size: 15pt;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}


/* .connect{
  font-family: var(--police);
  margin-left: 50px;
  padding-left: 50rem;
} */

  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  @-webkit-keyframes AnimationName {
    0%{background-position:0% 30%}
    50%{background-position:100% 71%}
    100%{background-position:0% 30%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 30%}
    50%{background-position:100% 71%}
    100%{background-position:0% 30%}
}
@keyframes AnimationName {
    0%{background-position:0% 30%}
    50%{background-position:100% 71%}
    100%{background-position:0% 30%}
}

  @media screen and (max-width: 768px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.4s ease;
    }
    .nav-links{
        background: var(--couleur-fond);
        position: fixed;
        opacity: 1;
        height: 90vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 0,5s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.3s ease 0.1s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.3s ease 0.2s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.3s ease 0.3s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.3s ease 0.4s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.3s ease 0.5s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.3s ease 0.6s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.3s ease 0.7s;
        margin: 0;
    }

    li.fade{
        opacity: 1;
    }

    .histoire > p{
      margin-left: 1rem;
      margin-right: 1rem;
    }
    

    /* Navigation Bar Icon on Click*/

        .toggle .bars1{
            transform: rotate(-45deg) translate(-5px, 6px);
        }

        .toggle .bars2{
            transition: all 0s ease;
            width: 0;
        }

        .toggle .bars3{
            transform: rotate(45deg) translate(-5px, -6px);
        }
        .waves {
            height:40px;
            min-height:40px;
          }
          h1 {
            font-size: calc(1.5rem * var(--smaller));
          }
          
          li {
            font-size: calc(1.125rem * var(--smaller));
          }
          
          li span {
            font-size: calc(3.375rem * var(--smaller));
          }
          iframe{
            width:100%;
          }
          .table {
            width: 100%;
            display: flex;
            flex-direction: column;
          }
          main >p:first-child{
            display: inline-block; 
            text-align: left;
            margin-left: 5px;
          }
          main > h1{
            text-align: center;
            font-size: 2rem;
          }
          .info > h1{
            text-align: center;
            font-size: 2rem;
          }
          .table2 {
            width: 100%;
            display: flex;
            flex-direction: column;
          }

          .section2 > p {
            display: inline-block; 
            text-align: left;
            padding: 0;
            margin: 0;
            margin-left: 5px;
          }

          .section2 > form{
              width: 100%;
              margin-left: 10px;
          }

}
